<html>
  <head>
    <meta charset="utf-8">
    <title>着順監視 - 遠隔画像解析</title>
  </head>
  <body>
    <h1>着順監視 - 遠隔画像解析</h1>
    <p>デバッグ用画像アップローダ</p>
    <form method="post">
      <input type="file" name="image"><br>
      <input type="submit">
    </form>
  </body>
</html>
